nav {
    background-color: #2e7d32;
}

#navbar-title {
    font-size: 35px;
    top: 20%;
    transform: translateY(-50%);
}

@media (max-width: 991px) { 
    #navbar-title {
        font-size: 24px; /* Reduz o tamanho do título */
        top: 10px; /* Move para cima */
        transform: none; /* Remove o efeito de centralização */
    }
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

a h5 {
    padding: 5px;
    border-radius: 10px;
}
a h5:hover {
    background-color: rgb(4, 100, 17);
}

body {
    text-align: center;
    background-color: rgb(212, 253, 228);
    align-items: center;
}

div ul a{
    margin-top: 10px;
}


.card {
    margin: 20px;
    max-width: 80rem;
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-subconteudo {
    background-color: #2e7d32;
    color: #ffffff;
}

.conteudo {
    margin: 20px;
    justify-content: center;
}

.btn {
    margin-top: 5px;
    background-color: #81c784;
    margin-bottom: 5px;
    width: 200px;
    cursor: pointer;
}
.btn:hover {
    background-color: #9fe0a3;
}

form {
    justify-items: center;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #795548;
    padding: 10px;
    color: #ffffff;
    margin-top: 10px;
}

.conteudoLerMais{
    display: none;
}
.botaoLerMais {
    background-color: #81c784;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
}
.botaoLerMais:hover{
    background-color: #9fe0a3;
}