nav {
    background-color: #2e7d32;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

a h5 {
    padding: 5px;
    border-radius: 10px;
}
a h5:hover {
    background-color: rgb(4, 100, 17);
}

body {
    text-align: center;
    background-color: rgb(223, 240, 219);
    align-items: center;
}

div ul a{
    margin-top: 10px;
}

.card {
    margin: 20px;
    max-width: 80rem;
}

.conteudo {
    margin: 20px;
    justify-content: center;
}

.btn {
    margin-top: 5px;
    background-color: #81c784;
    margin-bottom: 5px;
}
.btn:hover {
    background-color: #9fe0a3;
}

form {
    justify-items: center;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #795548;
    padding: 10px;
    color: #ffffff;
    margin-top: 10px;
}